@media (max-width: 250px) {
  figure {
    display: block;
  }

  figure > button {
    width: 90%;
    display: block;
    margin: auto;
  }
}

/* i phone 12 */
@media (max-width: 700px) and (max-height: 400px) {
  figure > h1 {
    width: 100%;
    transform: rotate(2deg);
    text-decoration: underline dotted 5px;
  }
  figure > button {
    width: 50%;
    margin: 0;
    margin: auto !important;
    display: block;
    padding: 1rem;
  }
}



@media (max-width: 400px) and (max-height: 700px) {
  figure {
    display: block;

  }
  figure > h1 {
    margin: auto;
    text-align: center;
    display: block;
  }
  .media_q_2 {
    display: block;
  }
  figure > button {
    width: 90%;
    display: block;
    margin: auto;
  }
}

/* i phone SE */

@media (max-width: 667px) and (max-height: 375px) {
  figure {
    display: block;
  }
  figure > h1 {
    transform: none;
    text-decoration: none;
    margin: auto;
    text-align: center;
  }

  figure > button {
    width: 90%;
    transform: rotate(0);
    display: block;
    margin: auto;
  }
}

/* i phone XR */
@media (max-width: 414px) and (max-height: 896px) {
  figure {
    display: block;
  }
  figure > h1 {
    margin: auto;
    text-align: center;
    display: block;
  }
  .media_q_2 {
    display: block;
    right: 5px;
  }
  figure > button {
    width: 90%;
    transform: rotate(0);

    display: block;
    margin: auto;
  }
}
@media (max-width: 896px) and (max-height: 414px) {
  figure {
    display: block;
  }
  figure > h1 {
    margin: auto;
    text-align: center;
  }

  figure > button {
    width: 90%;
    transform: rotate(0);

    display: block;
    margin: auto;
  }
}

/* SAMSUNG galaxy S20 ulra */

@media (max-width: 412px) and (max-height: 915px) {
  figure {
    display: block;
  }
  figure > h1 {
    margin: auto;
    text-align: center;
  }

  figure > button {
    width: 90%;
    transform: rotate(0);

    display: block;
    margin: auto;
  }
}
@media (max-width: 915px) and (max-height: 412px) {
  figure > h1 {
    width: 100%;
    transform: rotate(2deg);
    text-decoration: underline dotted 5px;
  }
  figure > button {
    width: 50%;
    margin: 3rem;
    padding: 1rem;
  }
}

/* samsung Galaxy 8+ */
@media (max-width: 740px) and (max-height: 360px) {
  figure {
    display: block;
  }
  figure > h1 {
    margin: auto;
    transform: rotate(0);
    text-decoration: none;
    text-align: center;
  }

  figure > button {
    width: 90%;
    display: block;
    margin: auto;
  }
}
