@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Farro:wght@700&family=Freckle+Face&family=Kanit:wght@300&family=Merriweather:ital,wght@1,400;1,700&family=Work+Sans:ital,wght@0,800;1,400&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Kanit', sans-serif;

  position: relative;
}
figure {
  display: flex;

  justify-content: space-between;
}
figure h1 {
  /* min-width: 609px; */
  font-weight: bold;
  padding: 2rem;
  margin: 2rem;
}

.orange {
  /* color: orange; */
}

figure button {
  /* width: 70%; */
  margin: 8rem auto;
  transform: rotate(2deg);
  font-weight: bolder;
  padding: 1rem 3.4rem;
  border: 0;
  background-color: lightblue;
  cursor: pointer;
  border-radius: 0.5rem;
  align-self: flex-end;
}

main h2 {
  padding: 4rem;
  text-align: center;
}

/* button style */

figure > button:active {
  opacity: 0.8;
  background: lightcyan;
}

/* names colors */

.orange {
  color: rgb(11, 44, 94);
}

.disney {
  color: blue;
}

.steve {
  color: firebrick;
}

.elenor {
  color: darkcyan;
}

.oprah {
  color: rebeccapurple;
}

.tate {
  color: rgb(255, 247, 0);
  background-color: #000;
  border-radius: 0.4rem;
  padding: 0.2rem 0.6rem;
}

.xig {
  color: greenyellow;
}

.James {
  color: blue;
}

.disney,
.elenor,
.James,
.oprah,
.orange,
.steve,
.xig {
  background-color: rgb(218, 154, 222);
  border-radius: 0.4rem;

  padding: 0.2rem 0.6rem;
}

/* margin names */
main em {
  position: relative;
  top: 13px;
  color: rgb(255, 174, 0);
}
